* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  font-family: sans-serif;
  background: #333;
}

#hero-container {
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  h2 {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    font-size: 2.6rem;
    font-weight: 800;
    font-style: italic;
    line-height: 70px;
    color: #000;
    text-align: center;
    background: rgba(255, 255, 255, 0.74);
    border-radius: 8px;
    z-index: 1;
  }

  div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4px;
    margin: 0 auto;
    text-align: center;
    background: rgba(153, 153, 153, 0.377);
  }
}

#about-container {
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;

  h2 {
    margin-bottom: 40px;
    font-size: 36px;
    color: mediumspringgreen;
  }

  p {
    width: 60%;
    margin: 0 auto;
    line-height: 30px;
    color: #fff;
  }
}
